### Question 1 :

Write code to convert the below Dictionary in Pandas Dataframe:
      
Dictionary:  `dct = [{'2022-03-31': {'A': 12323, 'B': 123123}},{'2021-03-31': {'A': 12, 'B': 123}}]`
      
Expected Output: df is dataframe
```       
>> df
            Date         A         B
    0 2022-03-31 12323 123123
    1 2021-03-31     12         123
```

In [ ]:
import pandas as pd

In [ ]:
dct = [{'2022-03-31': {'A': 12323, 'B': 123123}}, {'2021-03-31': {'A': 12, 'B': 123}}]
dataList = []

In [ ]:
for entry in dct:
    date, valueDict = list(entry.items())[0]
    valueDict['Date'] = date
    dataList.append(valueDict)

df = pd.DataFrame(dataList)
df = df[['Date', 'A', 'B']]

In [ ]:
print(df)

         Date      A       B
0  2022-03-31  12323  123123
1  2021-03-31     12     123

### Question 2:

Write a Python code to count the Sum of positive and negative numbers that are below 40 in the below list.


`list = [10,-20,30,40,-50,60,12,-12,11,1,90,-20,-10,-5,-4]`

Expected Output:
```
The sum of positive elements in the list below 40: X
The sum of negative elements in the list below is 40: Y
```

In [ ]:
list = [10, -20, 30, 40, -50, 60, 12, -12, 11, 1, 90, -20, -10, -5, -4]
positivesum = 0
negativesum = 0

In [ ]:
for num in list:
    if num < 40:
        if num > 0:
            positivesum += num
        elif num < 0:
            negativesum += num

In [ ]:
print(f"The sum of positive elements in the list below 40: {positivesum}")
print(f"The sum of negative elements in the list below 40: {negativesum}")

The sum of positive elements in the list below 40: 64
The sum of negative elements in the list below 40: -121